<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @picture.image_uri %></h1>
    <a href="<%= url_for :action => :show, :id => @picture.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @picture.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @picture.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="picture[image_uri]" class="fieldLabel">Image uri</label>
            <input type="text" id="picture[image_uri]" name="picture[image_uri]" value="<%= @picture.image_uri %>" <%= placeholder( "Image uri" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
