<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @picture.object %>
    <h1>Edit <%= @picture.image_uri%></h1>
    <%= link_to "Delete", :action => :delete, :id => @picture.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @picture.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Image uri: </td>
              <td class="itemValue"><input type="text" name="picture[image_uri]" value="<%= @picture.image_uri %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
