<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Pictures</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <li>
        <a href="<%=url_for(:action => :edit)%>">
           <span class="title">Choose picture</span>
           <span class="disclosure_indicator"/>
        </a>
      </li>
      
      <% if System::get_property('has_camera') %>
      <li>
        <a href="<%=url_for(:action => :new)%>">
           <span class="title">Take picture</span>
           <span class="disclosure_indicator"/>
        </a>
      </li>
      <% end %>
      <% @pictures.each do |obj| %>
      
        <li>
           <img src="<%= obj.photo %>" width="300px"/>
        </li>
 
        <li>
           <a href="<%=url_for(:action => :delete, :id => obj.object)%>">
             <span class="title">Delete</span>
             <span class="disclosure_indicator"/>
           </a>
        </li>
      
      <% end %>
    </ul>
  </div>

</div>
