<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @picture.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @picture.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="picture[image_uri]" class="fieldLabel">Image uri</label>
            <input type="text" id="picture[image_uri]" name="picture[image_uri]" <%= placeholder("Image uri") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
