<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @matching.object %>
    <h1>Edit <%= @matching.user_id%></h1>
    <%= link_to "Delete", :action => :delete, :id => @matching.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @matching.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">User: </td>
              <td class="itemValue"><input type="text" name="matching[user_id]" value="<%= @matching.user_id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Match: </td>
              <td class="itemValue"><input type="text" name="matching[match_id]" value="<%= @matching.match_id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Status: </td>
              <td class="itemValue"><input type="text" name="matching[status]" value="<%= @matching.status %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
