<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @matching.user_id %></h1>
    <a href="<%= url_for :action => :show, :id => @matching.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @matching.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @matching.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="matching[user_id]" class="fieldLabel">User</label>
            <input type="text" id="matching[user_id]" name="matching[user_id]" value="<%= @matching.user_id %>" <%= placeholder( "User" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="matching[match_id]" class="fieldLabel">Match</label>
            <input type="text" id="matching[match_id]" name="matching[match_id]" value="<%= @matching.match_id %>" <%= placeholder( "Match" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="matching[status]" class="fieldLabel">Status</label>
            <input type="text" id="matching[status]" name="matching[status]" value="<%= @matching.status %>" <%= placeholder( "Status" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
