<div data-role="page" data-dom-cache="true">
	<% @page = "Matches" %>
  <%= render :partial=>"/templates/header" %> 

  <div data-role="content" class="matching_page">
  
    <ul data-role="listview">
      <% @matchings.each do |match| %>
          <li>
            <a href="<%= url_for :controller => :Profile, :action => :show, :id => match.id %>">
              <div class="badge">
                <img class="match_thumb" src="<%= !match.photo.empty? ? match.photo : 'http://home.fnal.gov/~aria/WebsitesInProgress/Wilson/pictures/contact/no_photo.jpg' %>" width="80" height="80"/>
                  <ul class="badge_info">
                    <li><%= match.username %></li>
                    <li><p><%= match.occupation %></p></li>
                    <li style="text-transform: none"><p><%= match.distance_away %> mile away</p></li>
                  </ul>
              </div>
              </a>
          </li>
      <% end %>
    </ul>
      
    <style>
          .match_thumb {
              float: left;
              margin-right:  15px;
          }
          .badge_info li p { font-size: 14px;}
          .badge_info li {
              list-style-type:  none;
              text-transform: capitalize;
              margin-bottom: 10px;
          }
          .badge {
          }
          .matching_page .ui-btn-inner.ui-li {
              border: 1px solid;
              border-radius: 4px;
              margin: 10px;
          }
      </style>
  </div>

</div>
