<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New Matching</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @matching.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">User: </td>
                <td class="itemValue"><input type="text" name="matching[user_id]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Match: </td>
                <td class="itemValue"><input type="text" name="matching[match_id]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Status: </td>
                <td class="itemValue"><input type="text" name="matching[status]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
