<div data-role="page" data-dom-cache="true">
  <% @page = "Friends" %>
  <%= render :partial=>"/templates/header" %>
  
  <div data-role="content" class="matching_page">
  
    <ul data-role="listview">
      <% @matchings.each do |match| %>
          <li>
            <a href="<%= url_for :controller => :Profile, :action => :show, :id => match.user['id'] %>">
              <div class="badge">
                <img class="match_thumb" src="<%= !match.bio['photo'].empty? ? match.bio['photo'] : 'http://home.fnal.gov/~aria/WebsitesInProgress/Wilson/pictures/contact/no_photo.jpg' %>" width="80" height="80"/>
                  <ul class="badge_info">
                    <li><%= match.user['first_name'] %> <%= match.user['last_name'] %></li>
                    <li><p><%= match.bio['occupation'] %></p></li>
                    <li style="text-transform: none"><p><%= match.user['email'] %></p></li>
                    <li style="text-transform: none"><p><%= match.distance_away ? match.distance_away : 'unknown' %> mile away</p></li>
                  </ul>
              </div>
              </a>
          </li>
      <% end %>
    </ul>
      
    <style>
          .match_thumb {
              float: left;
              margin-right:  15px;
          }
          .badge_info li p { font-size: 14px;}
          .badge_info li {
              list-style-type:  none;
              text-transform: capitalize;
              margin-bottom: 10px;
          }
          .badge {
          }
          .matching_page .ui-btn-inner.ui-li {
              border: 1px solid;
              border-radius: 4px;
              margin: 10px;
          }
    </style>
  </div>

</div>