<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @matching.user_id %></h1>
    <%= link_to "Edit", :action => :edit, :id => @matching.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">UserId</td>
        <td class="itemValue"><%= @matching.user_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">MatchId</td>
        <td class="itemValue"><%= @matching.match_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Status</td>
        <td class="itemValue"><%= @matching.status%></td>
      </tr>
      
    </table>
  </div>

</div>
