<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @matching.user_id %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @matching.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">UserId</div>
            <div class="itemValue"><%= @matching.user_id %></div>
          </li>
      
          <li>
            <div class="itemLabel">MatchId</div>
            <div class="itemValue"><%= @matching.match_id %></div>
          </li>
      
          <li>
            <div class="itemLabel">Status</div>
            <div class="itemValue"><%= @matching.status %></div>
          </li>
      
    </ul>
  </div>

</div>
