<div data-role="page" id="page_index" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline" data-position="fixed">
    <h1>MeetMe</h1>
    <% if SyncEngine::logged_in > 0 %>
    <a href="<%= url_for :controller => :Settings, :action => :do_sync %>" class="ui-btn-left" data-inline="true" data-role="button" data-icon="refresh">
      Sync
    </a>
    <!--<a href="<%= url_for :controller => :Settings, :action => :index %>" class="ui-btn-right" data-inline="true" data-role="button" data-icon="gear">
	    Settings
	  </a>-->
    <a href="#popupPanel" data-rel="popup" data-transition="slide" data-position-to="window" data-role="button">Open panel</a>
    <% else %>
        <a href="<%= url_for :controller => :Settings, :action => :login %>" class="ui-btn-right" data-inline="true" data-role="button" data-icon="star">Login</a>
    <% end %>
  </div> 
  <div data-role="popup" id="popupPanel" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0">
      <a href="#" data-theme="a" data-icon="back" data-mini="true" data-role="button">Back</a>
      <a href="#" data-theme="b" data-icon="grid" data-mini="true" data-role="button">Menu</button>
      <a href="#" data-theme="c" data-icon="search" data-mini="true" data-role="button">Search</button>
  </div>
  <div data-role="navbar" data-iconpos="left">
    <ul>
        <li>
          <a href="<%= url_for :controller => :Matching, :action => :index %>" data-theme="a" data-icon="grid" data-transition="none">
           Matches
          </a>
        </li>
        <li>
            <a href="<%= url_for :controller => :Matching, :action => :saved_match %>" data-transition="none" data-theme="a" data-icon="star">
                Friends
            </a>
        </li>
        <li>
            <a href="<%= url_for :controller => :Profile %>" data-theme="a" data-icon="info">
                Profile
            </a>
        </li>
    </ul>
  </div>
  
  <div data-role="content">
    <% if $session[:match_intro] %>
      <div data-role="popup" id="myPopup" data-theme="d" data-history="false" style="width:288px; padding:5px; text-align:center">
        <h4>New match near by. Say hi to: <a href="#"><%= $session[:match_intro].username %></a></h4>
        <img src="<%= !$session[:match_intro].photo.empty? ? $session[:match_intro].photo : 'http://home.fnal.gov/~aria/WebsitesInProgress/Wilson/pictures/contact/no_photo.jpg' %>" height="288" width="288" style="width:288px; height:288px"/>
        <a href="#" data-role="button" data-inline="true" data-mini="true" data-theme="b">Say Hi</a>
        <a href="#" data-role="button" data-inline="true" data-mini="true" data-theme="c">Save</a>
        <a href="#page_index" data-role="button" data-inline="true" data-mini="true" data-theme="e">Ignore</a>
      </div>
      
        <script type="text/javascript" language="JavaScript">
            $(":jqmData(role='page'):last").on("pageshow", function(event) {
              $("#myPopup", $(this)).popup("open");
              $("#myPopup-popup").css('top', "40px")
            });
        </script>
      <% end %>
    <ul data-role="listview">
      <!--
        <li data-icon="search"><a href="Matching">My Matches</a></li>
        <li><a href="Biography">My Biography</a></li>
        <li><a href="Interest">My Interests</a></li>
        <li><a href="Profile">My Profile</a></li>
        -->
      <li><a href="#">My Messages</a></li>
      <li><a href="Location">Location</a></li>
      <li><a href="<%= url_for :controller => :User, :action => :json %>">User</a></li>
      <li><a href="Picture">Camera</a></li>
      <li><a href="<%= url_for :controller => :Settings, :action => :signup %>">sign up</a></li>
    </ul>
    <style>
      #popupPanel-popup {
          right: 0 !important;
          left: auto !important;
      }
      #popupPanel {
          width: 200px;
          border: 1px solid #000;
          border-right: none;
          background: rgba(0,0,0,.5);
          margin: -1px 0;
      }
      #popupPanel .ui-btn {
          margin: 2em 15px;
      }
    </style>
    <script>
      $( "#popupPanel" ).on({
          popupbeforeposition: function() {
              var h = $( window ).height();
      
              $( "#popupPanel" ).css( "height", h );
          }
      });
    </script>
  </div>

 <!--     <div data-role="footer" class="ui-bar" data-position="fixed">
        <div data-role="controlgroup" data-type="horizontal">
          <a href="/app" data-icon="home">Home</a>
          <a href="b.html" data-icon="grid">Friends</a>
          <a href="Profile">Profile</a>
          <a href="d.html">Emails</a>
        </div>
      </div><!-- /footer -->
      
   <!--<div data-role="footer" class="footer" data-position="fixed">
     <div data-role="navbar" class="navbar">
       <ul>
         <li><a href="/app" data-icon='home' >Home</a></li>
         <li><a href="<%= url_for :controller => :Matching, :action => :saved_match %>" data-icon="grid">Friends</a></li>
         <li><a href="Profile" data-icon="info">Profile</a></li>
         <li><a href="Settings" data-icon="gear">Settings</a></li>
       </ul>
     </div>
   </div>-->
</div>
