<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Profile Edit Menu</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li>
        <a href="<%= url_for :controller => :User, :action => :edit, :id => current_user.object %>">
          Edit Account Settings
        </a>
      </li>
      <li>
        <a href="<%= url_for :controller => :Biography, :action => :edit, :id => current_user.biography.object %>">
          Edit Bio Related Stuff
        </a>
      </li>
      <li>
        <a href="<%= url_for :controller => :Interest, :action => :edit %>">
          Manage Interests
        </a>
      </li>
      <li>
        <a href="<%= url_for :controller => :Biography, :action => :edit_pic %>">
          Edit Picture
        </a>
      </li>
    </ul>
  </div>

</div>
