<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline">
    <h1><%= @user.username %></h1>
    <% if SyncEngine::logged_in > 0 %>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
      <a href="#popupBasic" data-rel="popup" data-icon="pencil">Edit</a>
      
      <div data-role="popup" id="popupBasic"  data-history="false">
        <ul data-role="listview" data-theme="d" data-inset="true">
          <li data-role="list-divider">Edit Menu</li>
          <li>
            <a href="<%= url_for :controller => :User, :action => :edit, :id => current_user.object %>">
              Edit Account Settings
            </a>
          </li>
          <li>
            <a href="<%= url_for :controller => :Biography, :action => :edit, :id => current_user.biography.object %>">
              Edit Bio Related Stuff
            </a>
          </li>
          <li>
            <a href="<%= url_for :controller => :Interest, :action => :edit %>">
              Manage Interests
            </a>
          </li>
          <li>
            <a href="<%= url_for :controller => :Biography, :action => :edit_pic %>">
              Edit Picture
            </a>
          </li>
        </ul>
      </div>
    <% else %>
        <a href="<%= url_for :controller => :Settings, :action => :login %>" class="ui-btn-right" data-icon="star">Login</a>
    <% end %>
  </div>

  <div data-role="content">
    <div class="badge">
      <img src="<%= @user.biography.photo and !@user.biography.photo.empty? ? @user.biography.photo : 'http://home.fnal.gov/~aria/WebsitesInProgress/Wilson/pictures/contact/no_photo.jpg'; %>" width="100">
      <ul>
        <li class="name_user"><%= @user.first_name %> <%= @user.last_name %>
        <li class="indent"><%= @user.email %></li>
        <li class="indent"><%= @user.biography.occupation %></li>
        <li class="indent"><%= @user.location.name if @user.location %></li>
      </ul>  
      <div class="clear"></div>
    </div>
    <div class="about_me">
      <h3>About Me</h3>
      <p class="indent"><%= @user.biography.about %></p>
    </div>
    
    <div class="interests">
      <h3>Interests</h3>
      <ul>
      <% @user.interests.each do |interest| %>
        <li class="indent"><%= interest.name %></li>
      <% end %>
      </ul>
    </div>
  </div>
  
  <style>
    .clear{clear: both}
    
    .badge img{
      float:left;  
    }
    
    .badge ul{
      float: left;
      list-style-type:none;
      font-size: .9em;
      color: #cccccc;
      padding:0;
      margin-top: 0;
      margin-left: .85em;
    }
    
    .indent{
      padding-left: 7px;
    }
    .badge ul .name_user{
      font-size: 1.2em;
      color: #ffffff;
    }
    
    .interests ul{
      padding: 0;
    }
    .interests ul li{
      list-style-type: none;
      margin-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px dotted;
      text-transform: capitalize;
    }
    .icons li{
      display:inline;
    }
  </style>
</div>
