<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline">
    <h1><%= @profile.user['username'] %></h1>
    <% status = current_user.match_status(@profile.user['id']) %>
    <% if status[0] == "user_pending" %>
      <a href="<%= url_for( 
        :controller => :Matching, 
        :action => :delete, 
        :id => status[1]
      ) %>"
      class="ui-btn-right" data-icon="back" data-inline="true">Cancel</a>
        
    <% elsif status[0] == "user_blocked" %>
      <a href="#" class="ui-btn-right">Unblock</a>
    <% elsif status[0] == "match_pending" %>
      <form method="POST"  action="<%= url_for :controller => :Matching, :action => :update, :id => status[1] %>">
        <input type="hidden" id="matching[status]" name="matching[status]"  value="accepted" />
        <button type="submit" data-icon="check" data-inline="true" class="ui-btn-right">Accept</button>
      </form>
    <% elsif status[0] == "match_blocked" %>
      <a href="#" class="ui-btn-right">Unblock Request</a>
    <% elsif status[0] == "accepted" %>
       <a href="#" class="ui-btn-right" data-icon="delete">Remove</a>
    <% else %>
      <form method="POST"  action="<%= url_for :controller => :Matching, :action => :create %>">
        <input type="hidden" id="matching[user_id"] name="matching[user_id]" value="<%= current_user.object%>" />
        <input type="hidden" id="matching[match_id"] name="matching[match_id]" value="<%= @profile.user['id'] %>" />
        <input type="hidden" id="matching[status]" name="matching[status]"  value="pending" />
        <button type="submit" data-icon="check" data-inline="true" class="ui-btn-right">Save</button>
      </form>
    <% end %>
  </div>

  <div data-role="content">
    <div class="badge">
      <img src="<%= !@profile.bio['photo'].empty? ? @profile.bio['photo'] : 'http://home.fnal.gov/~aria/WebsitesInProgress/Wilson/pictures/contact/no_photo.jpg'; %>" width="100">
      <ul>
        <li class="name_user"><%= @profile.user['first_name'] %> <%= @profile.user['last_name'] %>
        <li class="indent"><%= @profile.user['email'] %></li>
        <li class="indent"><%= @profile.bio['occupation'] %></li>
      </ul>
      <div class="clear"></div>
    </div>
    <ul class="icons">
      <li><a href="#"><img src="/public/jqmobile/images/envelope.png"/> message</a></li>
      <li><a href="#"><img src="/public/jqmobile/images/pin.png"/> meet me</a></li>
    </ul>
    <div class="clear"></div>
    <div class="about_me">
      <h3>About Me</h3>
      <p class="indent"><%= @profile.bio['about'] %></p>
    </div>
    
    <div class="interests">
      <h3>Interests</h3>
      <ul>
      <% @profile.interests.each do |interest| %>
        <li class="indent"><%= interest['name'] %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <input type="hidden" id="matching[user_id]" name="matching[user_id]"  value="<%= current_user.object %>" />
  <input type="hidden" id="matching[match_id]" name="matching[match_id]"  value="<%= @profile.user['id'] %>" />
  <input type="hidden" id="matching[status]" name="matching[status]"  value="" />

  <style>
   .clear{clear: both}
   
   .badge img{
     float:left;  
   }
   
   .badge ul{
     float: left;
     list-style-type:none;
     font-size: .9em;
     color: #cccccc;
     padding:0;
     margin-top: 0;
     margin-left: .85em;
   }
   
   .indent{
     padding-left: 7px;
   }
   .badge ul .name_user{
     font-size: 1.2em;
     color: #ffffff;
   }
   
   .interests ul{
     padding: 0;
   }
   .interests ul li{
     list-style-type: none;
     margin-top: 5px;
     padding-bottom: 5px;
     border-bottom: 1px dotted;
     text-transform: capitalize;
   }
   .icons li{
     float:left;
   }
 </style>
</div>
