<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @message.object %>
    <h1>Edit <%= @message.user_id%></h1>
    <%= link_to "Delete", :action => :delete, :id => @message.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @message.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">User: </td>
              <td class="itemValue"><input type="text" name="message[user_id]" value="<%= @message.user_id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Recipient: </td>
              <td class="itemValue"><input type="text" name="message[recipient_id]" value="<%= @message.recipient_id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Message: </td>
              <td class="itemValue"><input type="text" name="message[message]" value="<%= @message.message %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">User deleted: </td>
              <td class="itemValue"><input type="text" name="message[user_deleted]" value="<%= @message.user_deleted %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Recipient deleted: </td>
              <td class="itemValue"><input type="text" name="message[recipient_deleted]" value="<%= @message.recipient_deleted %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
