<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @message.user_id %></h1>
    <a href="<%= url_for :action => :show, :id => @message.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @message.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @message.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="message[user_id]" class="fieldLabel">User</label>
            <input type="text" id="message[user_id]" name="message[user_id]" value="<%= @message.user_id %>" <%= placeholder( "User" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="message[recipient_id]" class="fieldLabel">Recipient</label>
            <input type="text" id="message[recipient_id]" name="message[recipient_id]" value="<%= @message.recipient_id %>" <%= placeholder( "Recipient" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="message[message]" class="fieldLabel">Message</label>
            <input type="text" id="message[message]" name="message[message]" value="<%= @message.message %>" <%= placeholder( "Message" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="message[user_deleted]" class="fieldLabel">User deleted</label>
            <input type="text" id="message[user_deleted]" name="message[user_deleted]" value="<%= @message.user_deleted %>" <%= placeholder( "User deleted" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="message[recipient_deleted]" class="fieldLabel">Recipient deleted</label>
            <input type="text" id="message[recipient_deleted]" name="message[recipient_deleted]" value="<%= @message.recipient_deleted %>" <%= placeholder( "Recipient deleted" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
