<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Inbox</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
	</div>
  <%= render :partial=>"/templates/inbox_navbar" %>
  <div data-role="content">
    <ul data-role="listview" data-divider-theme="c" data-split-icon="delete" data-split-theme="c">
      <% pt = Time.at(0)  %>
      <% @messages.each do |message| %>
          <% t = Time.at message.created_at.to_i %>
          <% if t.strftime("%a%b%d%y") != pt.strftime("%a%b%d%y")%>
            <li data-role="list-divider" role="heading"><%= t.strftime("%A, %B %-d, %Y") %></li>
          <% end %>
          <li data-theme="c">
            <a href="<%= url_for :action => :show, :id => message.object %>">
              <h3 class="ui-list-heading"><%= User.fullname(message.user_id) %></h3>
              <p><%= message.message.slice(0, 40) %></p>
            </a>
            <a href="<%= url_for :action => :delete, :id => message.object %>" title="delete"></a>
          </li>
          <% pt = t %>
      <% end %>
    </ul>
  </div>

</div>
