<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New Message</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @message.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">User: </td>
                <td class="itemValue"><input type="text" name="message[user_id]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Recipient: </td>
                <td class="itemValue"><input type="text" name="message[recipient_id]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Message: </td>
                <td class="itemValue"><input type="text" name="message[message]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">User deleted: </td>
                <td class="itemValue"><input type="text" name="message[user_deleted]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Recipient deleted: </td>
                <td class="itemValue"><input type="text" name="message[recipient_deleted]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
