<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @message.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="#" class="ui-btn-right" id="send" data-icon="plane">
      Send
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @message.object %>"/>

      
          <div data-role="fieldcontain">
            <input type="hidden" id="message[user_id]" name="message[user_id]" value="<%= current_user.object %>" />
          </div>
      
          <div data-role="fieldcontain">
            <label for="message[recipient_id]" class="fieldLabel">Recipient</label>
            <input type="text" id="message[recipient_id]" name="message[recipient_id]" <%= placeholder("Recipient") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="message[message]" class="fieldLabel">Message</label>
            <textarea id="message[message]" name="message[message]"></textarea>
          </div>
      

      <input type="submit" value="Send"/>
    </form>
    <script>
      $('#send').click(function(){
        $('form').submit();
      });
    </script>
  </div>

</div>
