<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @message.user_id %></h1>
    <%= link_to "Edit", :action => :edit, :id => @message.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">UserId</td>
        <td class="itemValue"><%= @message.user_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">RecipientId</td>
        <td class="itemValue"><%= @message.recipient_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Message</td>
        <td class="itemValue"><%= @message.message%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">UserDeleted</td>
        <td class="itemValue"><%= @message.user_deleted%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">RecipientDeleted</td>
        <td class="itemValue"><%= @message.recipient_deleted%></td>
      </tr>
      
    </table>
  </div>

</div>
