<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @message.message %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @message.object %>" class="ui-btn-right" data-icon="star">
      Reply
    </a>
  </div>

  <div data-role="content">
      <% t = Time.at @message.created_at.to_i %>
      <div class="msg_head ui-body-b">
        <img src="<%= User.photo(@message.user_id) %>" width="75" height="75">
        <ul>
          <li>
            <h5 class="ui-list-heading"><%= User.fullname(@message.user_id) %></h5>
          </li>
      
          <li>
            <small><%= t.strftime("%a, %b %-d, %Y") %></small>
          </li>
      
          <li>
            <small><%= t.strftime("%l:%M %P") %></small>
          </li>
        </ul>
      <div class="clear"></div>
      <div style="padding:20px 0;"><%= @message.message %></div>
      </div>
      
      
      
      <style>
        .msg_head img{
          float:left;
          border-radius: 5px;
        }
        .msg_head ul{
          float:left;
          margin-top: -20px;
          margin-left: -25px;
        }
        .msg_head ul li{
          list-style-type:none;
          display:block;
        }
      .ui-body-b{padding:5px; padding-bottom:0;}
    .clear{clear:both}
      </style>
  </div>

</div>
