<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Sync error</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
  </div>

  <div data-role="content">
        <div class="error-message"><%= @params['msg'] %></div>
  </div>

</div>
