<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <h1>Login</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :do_login %>">
      <% if @msg %>
          <div class="errorMessage"><%= @msg %></div>
      <% end %>

      <div data-role="fieldcontain">
        <label for="login" class="itemLabel">Login</label>
        <input type="text" id="login" name="login" class="itemValue" <%= placeholder("Login") %> />
      </div>
      <div data-role="fieldcontain">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="itemValue" <%= placeholder("Password") %> />
      </div>
      <br/>
      <input type="submit" value="Login" class="ui-btn-left" data-inline="true"/>
      or
      <a href="<%= url_for :action => :signup %>" class="ui-btn-right" data-inline="true" data-role="button" data-theme="b">Sign Up</a>
    </form>
  </div>

</div>
