<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <h1>Register</h1>
  </div>


  <div data-role="content">
    <% if @errors %>
    <script>$('#errorLink').click()</script>
      <a href="#popupError" id="errorLink" data-rel="popup"></a>
    
      <div data-role="popup" id="popupError">
        <div class="errorMessage">
          <ul data-role="listview" data-inset="true">
            <% Rho::JSON.parse(@errors).each do |error| %>
              <li><%= error.inspect %></li>
            <% end %>
          </ul>
        </div>
       </div>
    <% end %>
    <form method="POST" action="<%= url_for :action => :do_signup %>">

      <div data-role="fieldcontain">
        <label for="username" class="fieldLabel">Username</label>
        <input type="text" id="username" name="username" class="itemValue" <%= placeholder("Username") %> />
      </div>
      <div data-role="fieldcontain">
        <label for="email" class="fieldLabel">Email</label>
        <input type="text" id="email" name="email" class="itemValue" <%= placeholder("Email") %> />
      </div>
      <div data-role="fieldcontain">
        <label for="password" class="fieldLabel">Password</label>
        <input type="password" id="password" name="password" class="itemValue" <%= placeholder("Password") %> />
      </div>
      <div data-role="fieldcontain">
        <label for="username" class="fieldLabel">Full Name</label>
        <input type="text" id="name" name="name" class="itemValue" <%= placeholder("Full name") %> />
      </div>
      <div data-role="fieldcontain">
          <label for="username" class="fieldLabel">Birthday</label>
          <input type="text" id="birthday" name="birthday" class="itemValue" type="date" <%= placeholder("Birthday") %> />
      </div>
      
<!--  <div data-role="fieldcontain">
        <h4>Gender</h4>
        <ul>
          <li><input type="radio" name="gender" value="male"/> male</li>
          <li><input type="radio" name="gender" value="female"/> female</li>
        </ul>
      </div> -->

      <div data-role="fieldcontain">
        <label for="occupation" class="fieldLabel">Occupation</label>
        <input type="text" id="occupation" name="occupation" class="itemValue" <%= placeholder("occupation") %> />
      </div>
      
      <div data-role="fieldcontain">
        <label for="about" class="fieldLabel">About Me</label>
        <textarea id="about" name="about" class="itemValue"><%= placeholder("about") %></textarea>
      </div>
      
      <input type="submit" value="Register"/>
    </form>
  </div>
  <script>
    function test(){
      alert("hello");
    }
  </script>
</div>
