<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Manage Interests</h1>
    <a href="#" class="submit ui-btn-right" data-icon="check">save</a>
  </div>

  <div data-role="content">  
    <form method="GET" action="<%= url_for :controller => Profile, :action => :interests_update %>" class="update_form"> 
          <!-- hidden fields will be created here -->
    </form>
    <div>
      <fieldset>
      <% @interests.each do |interest| %>
        <% user_int_ids = current_user.interests(true) %>
        <% if user_int_ids.include?(interest.id.to_s) %>
          <label class="interest-name"><input type="checkbox" id="<%= interest.id %>" value="<%= interest.id %>" checked="checked"/><%= interest.name %></label>
        <% else %>
          <label class="interest-name"><input type="checkbox" id="<%= interest.id %>" value="<%= interest.id %>"/><%= interest.name %></label>
        <% end %>
      <% end %>
      </fieldset>
    </div>
  </div>
  
  
      <style>
        
        label.interest-name{ text-transform: capitalize }
      </style>
      <script type="text/javascript">
       // javascript to create hidden field
       // base of selected checkboxes
       
        $('a.submit').click(function(){
          var interests = [];
          $('input:checked').each(function(){
            
            interests.push($(this).attr('id'));
            $('.update_form').append("<input type='hidden' name='interests[]' value='"+$(this).attr('id')+"'/>");
          });
          $('.update_form').submit();
          
        });
        
        function save(){
        
          $.ajax({
            url: '<%= url_for :action => :update %>',
            type: 'POST',
            success: function(data) {
              $('.result').html(data);
              alert('Load was performed.');
            }
          });
        }
      </script>
  
</div>

