<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @interest.object %>
    <h1>Edit <%= @interest.name%></h1>
    <%= link_to "Delete", :action => :delete, :id => @interest.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @interest.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Name: </td>
              <td class="itemValue"><input type="text" name="interest[name]" value="<%= @interest.name %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Slug: </td>
              <td class="itemValue"><input type="text" name="interest[slug]" value="<%= @interest.slug %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
