<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Interests</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :edit %>" class="ui-btn-right" data-icon="gear">
      Manage
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @interests.each do |interest| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => interest.object %>">
              <%= interest.name %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>

</div>
