<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @user.object %>
    <h1>Edit <%= @user.username%></h1>
    <%= link_to "Delete", :action => :delete, :id => @user.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @user.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Username: </td>
              <td class="itemValue"><input type="text" name="user[username]" value="<%= @user.username %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Email: </td>
              <td class="itemValue"><input type="text" name="user[email]" value="<%= @user.email %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">First name: </td>
              <td class="itemValue"><input type="text" name="user[first_name]" value="<%= @user.first_name %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Last name: </td>
              <td class="itemValue"><input type="text" name="user[last_name]" value="<%= @user.last_name %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
