<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @user.username %></h1>
    <!-- <a href="<%= url_for :action => :show, :id => @user.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a> -->
    <a href="<%= url_for :action => :delete, :id => @user.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @user.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="user[username]" class="fieldLabel">Username</label>
            <input type="text" id="user[username]" name="user[username]" value="<%= @user.username %>" <%= placeholder( "Username" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="user[email]" class="fieldLabel">Email</label>
            <input type="text" id="user[email]" name="user[email]" value="<%= @user.email %>" <%= placeholder( "Email" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="user[first_name]" class="fieldLabel">First name</label>
            <input type="text" id="user[first_name]" name="user[first_name]" value="<%= @user.first_name %>" <%= placeholder( "First name" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="user[last_name]" class="fieldLabel">Last name</label>
            <input type="text" id="user[last_name]" name="user[last_name]" value="<%= @user.last_name %>" <%= placeholder( "Last name" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
