<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New User</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @user.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Username: </td>
                <td class="itemValue"><input type="text" name="user[username]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Email: </td>
                <td class="itemValue"><input type="text" name="user[email]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">First name: </td>
                <td class="itemValue"><input type="text" name="user[first_name]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Last name: </td>
                <td class="itemValue"><input type="text" name="user[last_name]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
