<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @user.username %></h1>
    <%= link_to "Edit", :action => :edit, :id => @user.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Username</td>
        <td class="itemValue"><%= @user.username%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Email</td>
        <td class="itemValue"><%= @user.email%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">FirstName</td>
        <td class="itemValue"><%= @user.first_name%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">LastName</td>
        <td class="itemValue"><%= @user.last_name%></td>
      </tr>
      
    </table>
  </div>

</div>
