<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Picture Options</h1>
  </div>

  <div data-role="content">
      <a href="<%=url_for(:action => :edit_picture, :id => current_user.biography.object )%>" class="ui-btn-left" data-role="button" data-inline="true">
         <span class="title">Choose picture</span>
         <span class="disclosure_indicator"/>
      </a>
      
      <% if System::get_property('has_camera') %>
        <a href="<%=url_for(:action => :new_picture, :id => current_user.biography.object)%>" class="ui-btn-right" data-role="button" data-inline="true">
           <span class="title">Take picture</span>
           <span class="disclosure_indicator"/>
        </a>
      <% end %>
      
      <div data-role="fieldcontain">
        <img src="<%= current_user.biography.image_uri %>" width="150"/>  
 
        <a href='#'>  
          <span class="title">Delete</span>
          <span class="disclosure_indicator"/>
        </a>
      </div>
  </div>

</div>
