<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit Profile</h1>
    <a href="<%= url_for :controller => :Profile, :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @biography.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="biography[about]" class="fieldLabel">About</label>
            <textarea id="biography[about]" name="biography[about]" <%= placeholder( "About" ) %>><%= @biography.about %></textarea>
          </div>
      
          <div data-role="fieldcontain">
            <label for="biography[birthday]" class="fieldLabel">Birthday</label>
            <input type="text" id="biography[birthday]" name="biography[birthday]" value="<%= @biography.birthday %>" <%= placeholder( "Birthday" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="biography[occupation]" class="fieldLabel">Occupation</label>
            <input type="text" id="biography[occupation]" name="biography[occupation]" value="<%= @biography.occupation %>" <%= placeholder( "Occupation" ) %> />
          </div>
          
          <!-- <div data-role="fieldcontain">
            <label for="biography[photo]" class="fieldLabel">Photo</label>
            <input type="text" id="biography[photo]" name="biography[photo]" value="<%= @biography.photo %>" <%= placeholder( "Photo" ) %> />
          </div> -->
      
          <input type="hidden" id="biography[user_id]" name="biography[user_id]" value="<%= @biography.user_id %>" <%= placeholder( "User" ) %> />
     
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
