<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @biography.object %>
    <h1>Edit <%= @biography.about%></h1>
    <%= link_to "Delete", :action => :delete, :id => @biography.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @biography.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">About: </td>
              <td class="itemValue"><input type="text" name="biography[about]" value="<%= @biography.about %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Birthday: </td>
              <td class="itemValue"><input type="text" name="biography[birthday]" value="<%= @biography.birthday %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Occupation: </td>
              <td class="itemValue"><input type="text" name="biography[occupation]" value="<%= @biography.occupation %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Photo: </td>
              <td class="itemValue"><input type="text" name="biography[photo]" value="<%= @biography.photo %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">User: </td>
              <td class="itemValue"><input type="text" name="biography[user_id]" value="<%= @biography.user_id %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
