<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @biography.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @biography.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="biography[about]" class="fieldLabel">About</label>
            <input type="text" id="biography[about]" name="biography[about]" <%= placeholder("About") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="biography[birthday]" class="fieldLabel">Birthday</label>
            <input type="text" id="biography[birthday]" name="biography[birthday]" <%= placeholder("Birthday") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="biography[occupation]" class="fieldLabel">Occupation</label>
            <input type="text" id="biography[occupation]" name="biography[occupation]" <%= placeholder("Occupation") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="biography[photo]" class="fieldLabel">Photo</label>
            <input type="text" id="biography[photo]" name="biography[photo]" <%= placeholder("Photo") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="biography[user_id]" class="fieldLabel">User</label>
            <input type="text" id="biography[user_id]" name="biography[user_id]" <%= placeholder("User") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
