<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New Biography</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @biography.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">About: </td>
                <td class="itemValue"><input type="text" name="biography[about]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Birthday: </td>
                <td class="itemValue"><input type="text" name="biography[birthday]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Occupation: </td>
                <td class="itemValue"><input type="text" name="biography[occupation]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Photo: </td>
                <td class="itemValue"><input type="text" name="biography[photo]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">User: </td>
                <td class="itemValue"><input type="text" name="biography[user_id]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
