<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @biography.about %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @biography.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">About</div>
            <div class="itemValue"><%= @biography.about %></div>
          </li>
      
          <li>
            <div class="itemLabel">Birthday</div>
            <div class="itemValue"><%= @biography.birthday %></div>
          </li>
      
          <li>
            <div class="itemLabel">Occupation</div>
            <div class="itemValue"><%= @biography.occupation %></div>
          </li>
      
          <li>
            <div class="itemLabel">Photo</div>
            <div class="itemValue"><%= @biography.photo %></div>
          </li>
      
          <li>
            <div class="itemLabel">UserId</div>
            <div class="itemValue"><%= @biography.user_id %></div>
          </li>
      
    </ul>
  </div>

</div>
