<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @biography.about %></h1>
    <%= link_to "Edit", :action => :edit, :id => @biography.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">About</td>
        <td class="itemValue"><%= @biography.about%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Birthday</td>
        <td class="itemValue"><%= @biography.birthday%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Occupation</td>
        <td class="itemValue"><%= @biography.occupation%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Photo</td>
        <td class="itemValue"><%= @biography.photo%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">UserId</td>
        <td class="itemValue"><%= @biography.user_id%></td>
      </tr>
      
    </table>
  </div>

</div>
