<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @location.name %></h1>
    <a href="<%= url_for :action => :show, :id => @location.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @location.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @location.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="location[name]" class="fieldLabel">Name</label>
            <input type="text" id="location[name]" name="location[name]" value="<%= @location.name %>" <%= placeholder( "Name" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="location[longitude]" class="fieldLabel">Longitude</label>
            <input type="text" id="location[longitude]" name="location[longitude]" value="<%= @location.longitude %>" <%= placeholder( "Longitude" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="location[latitude]" class="fieldLabel">Latitude</label>
            <input type="text" id="location[latitude]" name="location[latitude]" value="<%= @location.latitude %>" <%= placeholder( "Latitude" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="location[user_id]" class="fieldLabel">User</label>
            <input type="text" id="location[user_id]" name="location[user_id]" value="<%= @location.user_id %>" <%= placeholder( "User" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
