<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @location.object %>
    <h1>Edit <%= @location.name%></h1>
    <%= link_to "Delete", :action => :delete, :id => @location.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @location.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Name: </td>
              <td class="itemValue"><input type="text" name="location[name]" value="<%= @location.name %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Longitude: </td>
              <td class="itemValue"><input type="text" name="location[longitude]" value="<%= @location.longitude %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Latitude: </td>
              <td class="itemValue"><input type="text" name="location[latitude]" value="<%= @location.latitude %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">User: </td>
              <td class="itemValue"><input type="text" name="location[user_id]" value="<%= @location.user_id %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
