<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @location.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @location.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="location[name]" class="fieldLabel">Name</label>
            <input type="text" id="location[name]" name="location[name]" <%= placeholder("Name") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="location[longitude]" class="fieldLabel">Longitude</label>
            <input type="text" id="location[longitude]" name="location[longitude]" <%= placeholder("Longitude") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="location[latitude]" class="fieldLabel">Latitude</label>
            <input type="text" id="location[latitude]" name="location[latitude]" <%= placeholder("Latitude") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="location[user_id]" class="fieldLabel">User</label>
            <input type="text" id="location[user_id]" name="location[user_id]" <%= placeholder("User") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
