<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New Location</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @location.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Name: </td>
                <td class="itemValue"><input type="text" name="location[name]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Longitude: </td>
                <td class="itemValue"><input type="text" name="location[longitude]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Latitude: </td>
                <td class="itemValue"><input type="text" name="location[latitude]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">User: </td>
                <td class="itemValue"><input type="text" name="location[user_id]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
