<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @location.name %></h1>
    <%= link_to "Edit", :action => :edit, :id => @location.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Name</td>
        <td class="itemValue"><%= @location.name%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Longitude</td>
        <td class="itemValue"><%= @location.longitude%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Latitude</td>
        <td class="itemValue"><%= @location.latitude%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">UserId</td>
        <td class="itemValue"><%= @location.user_id%></td>
      </tr>
      
    </table>
  </div>

</div>
