<div data-role="header" data-position="inline" data-position="fixed">
  <h1>MeetMe</h1>
  <% if SyncEngine::logged_in > 0 %>
  <a href="<%= url_for :controller => :Settings, :action => :do_sync %>" class="ui-btn-left" data-inline="true" data-role="button" data-icon="refresh">
    Sync
  </a>
  <!--<a href="<%= url_for :controller => :Settings, :action => :index %>" class="ui-btn-right" data-inline="true" data-role="button" data-icon="gear">
    Settings
  </a>-->
  <a href="#popupPanel" data-rel="popup" data-transition="slide" data-position-to="window" data-role="button" data-icon="gear">Options</a>
  <% else %>
      <a href="<%= url_for :controller => :Settings, :action => :login %>" class="ui-btn-right" data-inline="true" data-role="button" data-icon="star">Login</a>
  <% end %>
</div>
<div data-role="popup" id="popupPanel" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0">
  <div class="ui-btns">    
    <a href="<%= url_for :controller => :Message, :action => :index %>" data-theme="a" data-iconpos="right" data-icon="envelope" data-mini="true" data-role="button">Inbox</a>
    <a href="<%= url_for :controller => :User, :action => :edit, :id => current_user.object %>" data-theme="a" data-iconpos="right" data-icon="grid" data-mini="true" data-role="button">Account Settings</a>
    <a href="<%= url_for :controller => :Settings, :action => :logout %>" data-theme="a" data-iconpos="right" data-icon="power" data-mini="true" data-role="button">Logout</a>
  </div>   
</div> 
<div data-role="navbar" data-iconpos="left">
  <ul>
      <li>
        <a href="<%= url_for :controller => :Matching, :action => :index %>"
          <% if @page == "Matches" %>
            class="ui-btn-active ui-state-persist"
          <% end %> 
          data-theme="a" data-icon="grid" data-transition="none">Matches</a>
      </li>
      <li>
        <a href="<%= url_for :controller => :Matching, :action => :saved_match %>"
          <% if @page == "Friends" %>
            class="ui-btn-active ui-state-persist"
          <% end %>  data-transition="none" data-theme="a" data-icon="people">Friends</a>
      </li>
      <li>
          <a href="<%= url_for :controller => :Profile %>" data-theme="a" data-icon="user">
              Profile
          </a>
      </li>
  </ul>
</div>
<div data-role="content" style="display:none">
    <% if $session[:match_intro] and $session[:just_synced] %>
      <% $session[:just_synced] = false %>
      <div data-role="popup" id="myPopup" data-theme="d" data-history="false" style="width:288px; padding:5px; text-align:center">
        <h4>New match near by. Say hi to: <a href="#"><%= $session[:match_intro].username %></a></h4>
        <a href="<%= url_for :controller => :Profile, :action => :show, :id =>  $session[:match_intro].id %>">
          <img src="<%= !$session[:match_intro].photo.empty? ? $session[:match_intro].photo : 'http://home.fnal.gov/~aria/WebsitesInProgress/Wilson/pictures/contact/no_photo.jpg' %>" height="288" width="288" style="width:288px; height:288px"/>
        </a>
        <a href="#" data-role="button" data-inline="true" data-mini="true" data-theme="b">Say Hi</a>
        <!--<form method="POST"  action="<%= url_for :controller => :Matching, :action => :create %>">
          <input type="hidden" id="matching[user_id"] name="matching[user_id]" value="<%= current_user.object%>" />
          <input type="hidden" id="matching[match_id"] name="matching[match_id]" value="<%= $session[:match_intro].id %>" />
          <input type="hidden" id="matching[status]" name="matching[status]"  value="pending" />
          <button type="submit" data-mini="true" data-theme="c" data-inline="true" class="ui-btn-right">Save</button>
        </form> -->
        <a href="#" data-role="button" data-inline="true" data-mini="true" data-theme="c">Save</a>
        <a href="#page_index" data-role="button" data-inline="true" data-mini="true" data-theme="e">Ignore</a>
      </div>
      
        <script type="text/javascript" language="JavaScript">
            $(":jqmData(role='page'):last").on("pageshow", function(event) {
              $("#myPopup", $(this)).popup("open");
              $("#myPopup-popup").css('top', "40px")
            });
        </script>
      <% end %>
  <style>
    #popupPanel-popup {
        right: 0 !important;
        left: auto !important;
    }
    #popupPanel {
        width: 200px;
        border: 1px solid #000;
        border-right: none;
        background: rgba(0,0,0,.5);
        margin: -1px 0;
    }
    #popupPanel .ui-btns {
        margin: 2em 15px;
    }
  </style>
    
  <script>
    $( "#popupPanel" ).on({
        popupbeforeposition: function() {
            var h = $( window ).height();
    
            $( "#popupPanel" ).css( "height", h );
        }
    });
  </script>
</div>