<div data-role="navbar" data-iconpos="left">
  <ul>
      <li>
        <a href="<%= url_for :controller => :Message, :action => :index %>"
          <% if @page == "Inbox" %>
            class="ui-btn-active ui-state-persist"
          <% end %> 
          data-theme="a" data-icon="open_envelope" data-transition="none">Inbox</a>
      </li>
      <li>
        <a href="<%= url_for :controller => :Message, :action => :sent %>"
          <% if @page == "Sent" %>
            class="ui-btn-active ui-state-persist"
          <% end %>  data-transition="none" data-theme="a" data-icon="plane">Sent</a>
      </li>
  </ul>
</div>